/* minimal reset */
*{
  margin: 0;
  padding: 0;
}

/* wrapper class definition */
.wrapper{
    width: 900px;
    margin: 0 auto;
}

/* set container parent properties */
#container-1{
  background-color: #f0faff;
  margin: inherit;
  padding: 50px 0;
}
#container-1 h1 {
  font: 600 4em/90% Montserrat,Tahoma, sans-serif;
  color: #48A176;
  text-transform: uppercase;
  text-shadow: 2px 2px #80C6A4;
  text-align: center;
  letter-spacing: 1.2px;
  word-spacing: 8px;
  margin-top: 5vh;
  margin-bottom: 0.4em;
}
#container-1 hr{
  width: 70%;
  border: none;
  height: 2px;
  background-color: #48A176;
  margin: 0 auto 2.5em auto;
}
#container-1 h2{
  font-family: Montserrat,Tahoma, sans-serif;
  margin: 0 auto;
  font-size: 1.8em;
  line-height: 30px;
  padding: 5px 15px;
  width: fit-content;
  background: #692346;
  color: #E9FFF9;
  margin-bottom: 1.5em;
  box-shadow: 2px 2px #916179;
}
#container-1 p{
  text-align: justify;
  color: #1F0A14;
  margin-bottom: 2.8em;
  font: 500 1.2em/130% 'EB Garamond',Garamond,serif;
}
#container-1 p a{
  font: 400 1.0em/125% Montserrat,Tahoma, sans-serif;
  color: #E9FFF9;
  background: #48A176;
  border: 2px solid #48A176;
  box-shadow: 2px 2px #80C6A4;
  padding: 8px 20px;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
  display: block;
}
#container-1 p a:hover{
  background-color: #E9FFF9;
  color: #48A176;
  border: 2px solid #48A176;
}

/* set container parent properties */
#container-2{
  background-color: #fcf5ee;
  margin: inherit;
  padding: 100px 0;
}
#container-2 h1 {
  font: 700 80px/105% 'Libre Baskerville',Tahoma, sans-serif;
  color: #E79E07;
  margin-bottom: 0.6em;
}
#container-2 h2{
  font: 40px/130% 'Sofia', sans-serif;
  text-align: left;
  width: fit-content;
  border-top: 3px solid #4BACC6;
  padding: 18px 32px 6px 0;
  color: #4BACC6;
  margin-bottom: 1.2em;
  width: 66%;
}
#container-2 p{
  width: 66%;
  font: 400 18px/130% 'Libre Baskerville',Tahoma, sans-serif;
  text-align: justify;
  padding: 16px 0;
  color: #558B82;
}
#container-2 p a{
  color: #E79E07;
  font-family: 'Sofia', sans-serif;
  font-size: 24px;
}
#container-2 p a:visited{ /* if placed after :hover, properties from hover wont be taken over */

}
#container-2 p a:hover{   /* also overrules properties from :visited */
  text-decoration: none;
}
#container-2 a:hover::after {
  padding-left:8px;
  text-decoration: none;
  content: "→";
}

/* set container parent properties */
#container-3{
  background-color: #white;
  margin: inherit;
  padding: 5vh 0;
}
#container-3 h1 {
  font: 300 normal 120px/90% Lobster,Tahoma, sans-serif;
  background: #18d97c;
  color: #e6fff7;
  padding: 60px 20px;
  text-align: right;
}
#container-3 h2{
  font: 500 25px/1.15 Quicksand, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: left;
  padding: 30px;
  color: #fce8f2;
  background-color: #d91875;
}
#container-3 p{
  text-align: right;
  padding: 30px;
  color: #e6fff7;
  background-color: #18d97c;
  font: 500 25px/140% 'EB Garamond',Garamond,serif;
  font-stretch: extra-expanded;
}
#container-3 p.link{
  padding:20px 0 60px 0;
  background-color: #18d97c;
}
#container-3 p a{
  font-family: Quicksand, sans-serif;
  letter-spacing: 1.5px;
  color: #fce8f2;
  background-color: #d91875;
  padding: 30px;
  padding-right: 90px;
  text-decoration: none;
}
#container-3 a::after {
  padding-left:8px;
  text-decoration: none;
  content: "→";
  color: #d91875;
}
#container-3 a:hover::after {
  color: #fce8f2;
}


/* set container parent properties */
#container-4{
  background-color: #f2fdfd;
  margin: inherit;
  padding: 5vh 0;
}
#container-4 h1 {
  font: 300 normal 110px/90% display;
  color: #013826;
  padding: 30px 20px;
  text-align: center;
  margin-bottom: .2em;
}
#container-4 hr{
  width: 90%;
  border: none;
  height: 2px;
  background-color: #f2fdfd;
  margin: 20px auto;
}
#container-4 .textbox{
  background: #219E47;
  width: 500px;
  margin: 0 auto;
  padding: 80px 40px 20px 40px;
  box-shadow: 36px 20px #C2E583;
}
#container-4 h2{
  font: lighter 25px/1.15 sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  color: #f2fdfd;
}
#container-4 p{
  text-align: justify;
  color: #f2fdfd;
  font: 500 25px/130% 'EB Garamond',Garamond,serif;
  font-stretch: extra-expanded;
  margin-bottom: 40px;
}
#container-4 p a{
  display: block;
  width: fit-content;
  font-family: sans-serif;
  border: 3px solid #f2fdfd;
  padding: 10px;
  margin-top:20px;
  text-decoration: none;
}
#container-4 p a:visited{
  color: #f2fdfd;
}
#container-4 p a:hover{
  color: #013826;
  background-color: #C2E583;
}
